.discount {
  background: #FF7200;
  color: #1E1F2B;
  font-weight: 600;
}
.discount--font-size--xs {
  font-size: 8px;
}
.discount--font-size--s {
  font-size: 10px;
}
.discount--font-size--m {
  font-size: 18px;
}
.discount--letter-spacing--s {
  letter-spacing: 0.34px;
}
.discount--letter-spacing--m {
  letter-spacing: 0.44px;
}
.discount--padding--xs {
  padding: 1px;
}
.discount--padding--s {
  padding: 0px 2px;
}
.discount--padding--m {
  padding: 2px 4px;
}
.discount--display--inline-block {
  display: inline-block;
}
.discount--margin-left--xs {
  margin-left: 4px;
}
.discount--vertical-align--middle {
  vertical-align: middle;
}
